@{
    ViewBag.Title = "Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Download</h2>
<div class="row-fluid">
    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <div class="caption">
                    <h2>Pwl Format</h2>
                    <a href="Data?format=pwl" class="btn btn-block btn-large btn-primary">Download</a>
                </div>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <div class="caption">
                    <h2>Json Format</h2>
                    <a href="Data?format=json" class="btn btn-block btn-large btn-primary">Download</a>
                </div>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <div class="caption">
                    <h2>Csv Format</h2>
                    <a href="Data?format=csv" class="btn btn-block btn-large btn-primary">Download</a>
                </div>
            </div>
        </li>
    </ul>
</div>
