@using PowerLog.Model
@model IEnumerable<PowerLog.Model.TrainingSession>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = new Func<string, IEnumerable<LoggedExercise>, string>(
        (string a, IEnumerable<PowerLog.Model.LoggedExercise> e) =>
            string.Format("{0}{1} workout", string.IsNullOrWhiteSpace(a) ? "" : a + " - ",
            string.Join(", ", e.GroupBy(x => x.Exercise.BodyPart).OrderByDescending(x => x.Sum(y => y.Load)).Select(x => x.Key).Take(3))
            ));
}

<h2>Shared workouts</h2>

<div class="row-fluid">
    <div class="span3 well">
        <p>
            @Html.ActionLink("Share your workout", "Create", null, new { @class = "btn btn-primary btn-large btn-block" })
        </p>
        <hr />
        <h4 class="nav-header">Filter workouts</h4>
        <div class="input-block-level">
  <input class="input-block-level" id="appendedInputButton" type="text"><button class="btn" type="button">Search</button>
</div>
    </div>
    <div class="span9">


        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                           @Html.ActionLink(title(item.Title, item.LoggedExercises), "Shared", new { key = item.Key, title = title(item.Title, item.LoggedExercises).ToSeoUrl() }) by <strong>@item.UserProfile.UserName</strong>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
