@using System.Globalization
@model PowerLog.Model.TrainingSession

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var clearLocalStorage = false;
    if (ViewBag.ClearLocalStorage != null)
    {
        clearLocalStorage = (bool)ViewBag.ClearLocalStorage;
    }
    var list = Model.LoggedExercises.GroupBy(x => x.ExerciseId);
    var calls = new List<string>();
    foreach (var logs in list)
    {
        var reps = new List<int>();
        var weight = new List<string>();
        var max = new List<string>();
        var load = new List<string>();
        foreach (var log in logs)
        {
            reps.Add(log.Reps);
            if (log.FailedToLift)
            {
                weight.Add(string.Format(@"{{y:{0},marker: {{symbol: 'url(http://www.bloodsystemseducation.org/resources/images/icons/icon_fail.gif)'}} }}", log.Weight.ToString(CultureInfo.InvariantCulture)));
            }
            else
            {
                weight.Add(log.Weight.ToString(CultureInfo.InvariantCulture));
            }
            max.Add(log.OneRepMax.ToString(CultureInfo.InvariantCulture));
            load.Add(log.Load.ToString(CultureInfo.InvariantCulture));
        }
        var call = string.Format("renderChart({0},[{1}],[{2}],[{3}], [{4}]);",
            logs.Key,
            string.Join(",", reps),
            string.Join(",", weight),
            string.Join(",", max),
            string.Join(",", load));
        calls.Add(call);
    }

}
@section scripts{
    <script src="/Scripts/js/highcharts.js"></script>
    <script src="/Scripts/highchartsCustom/renderChart.js"></script>
    <script type="text/javascript">
        $('.comment').popover();
        @if (clearLocalStorage)
        { 
<text>
        localStorage.removeItem("expressions");
        </text>   
        }
       

        @foreach (var c in calls)
        {
    @Html.Raw(c)
        }
    </script>
}
<style>
    table td:nth-child(3), table td:nth-child(4) {
        color: #aaa;
    }
</style>
<div class="container-fluid">
    <div class="row-fluid">
        @{Html.RenderPartial("~/Views/Dashboard/ChartTable.cshtml", Model.LoggedExercises);}
    </div>
</div>




<style>
    .site {
        margin-bottom: 25px;
    }

        .site h2 {
            margin: 0 20px;
            font-size: 16px;
        }

        .site .container-fluid {
            border-top: 3px solid #585858;
            -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding-box;
            background-clip: padding-box;
            padding: 10px 0;
        }
</style>
